{% extends '../base.html' %}
{% block content %}

<main class="form">
    <h1>ログイン</h1>
    {% if debug %}
    <div class="debug">
        <h2>デバッグモードが有効です。</h2>
        <div class="account-info">
            <h3>管理者アカウント</h3>
            <p>ユーザーネーム：hoge</p>
            <p>パスワード：pass</p>
        </div>
        <div class="account-info">
            <h3>一般アカウント</h3>
            <p>ユーザーネーム：user</p>
            <p>パスワード：pass</p>
        </div>
    </div>
    {% endif %}
    <form action='{% url "login" %}' method='post'>
        {% csrf_token %}
        <input type='hidden' name='next' value='{{ next }}'/>
        <div>
            <label for="id_username">ユーザーネーム</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_password">パスワード</label>
            {{ form.password }}
        </div>
        <button type='submit' class="btn">ログイン</button>
    </form>
</main>

{% endblock %}