{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ケーブルマネージャ</title>
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@4.0.1/destyle.css">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/detail.css' %}" rel="stylesheet">
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url "manage:index" %}">ケーブルマネージャー</a>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url "search:search" %}">検索</a>
                    </li>
                    <li>
                        <a href="{% url "manage:new" %}">製品登録</a>
                    </li>
                    <li class='nav-user'>
                        <span class='navbar-text'>{{ user }}</span>
                    </li>
                    <li>
                        <form action='{% url "logout" %}' method='post' name='logout'>
                            {% csrf_token %}
                            <a href="javascript:logout.submit()">ログアウト</a>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a href='{% url "login" %}' class='login nav-link'>ログイン</a>
                    </li>
                    <li>
                        <a href='{% url "signup" %}' class='login nav-link'>サインアップ</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% if message is not defined %}
        <div class="message">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "{{ request.build_absolute_uri }}");
    </script>
</body>
</html>