@import "variables";

.form {
    h1 {
        font-size: 2rem;
        text-align: center;
        margin: 10px auto;
    }

    .debug {
        background-color: #00000029;
        padding: 5%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 5% 0;

        .account-info {
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            text-align: center;
        }
    }

    .search.results {
        margin-top: 60px;
        background-color: #0000000a;
        padding: 20px;
        border-radius: 20px;
        border: #333 solid 2px;

        h2 {
            text-align: center;
            font-size: 2rem;
        }

        .result {
            margin: 40px 0;
            border-bottom: solid 2px #333;
            padding: 15px;
            transition: all .3s;
            background-color: #fff;

            &:hover {
                background-color: #333;
                color: #fff;
            }
        }
    }

    form {
        width: 100%;
        margin: 0 auto;

        input,
        select,
        textarea {
            border: solid 2px #333;

            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            margin: 5px 0 25px 0;

            &:focus {
                outline: none;
            }
        }

        textarea {
            text-align: start;
            height: 10vh;
            resize: vertical;
        }

        [type="number"]::-webkit-outer-spin-button,
        [type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        .error-msg {
            background-color: $danger;
            padding: 15px 20px;
            text-align: center;
            color: #fff;
            margin: 20px 0;
            border-radius: 15px;
        }

        ul {
            background-color: #00000023;
            border-radius: 15px;
            padding: 15px;
            margin: 30px 0;
            margin-top: 0;
            font-size: .9rem;
        }

        .errorlist {
            margin-bottom: 0;
            color: $danger;
            padding: 0;
            background-color: #fff;

            &:first-of-type {
                display: none;
            }

        }
    }
}

.logout {
    width: 25%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;

    @include media(sp) {
        width: 100%;
    }
}